/* Typography styles */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--blue);
  line-height: 0.5;
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--green);
  line-height: 0.5;
  margin-bottom: 0.1rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--yellow);
  line-height: 0.5;
  margin-bottom: 0.1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}